(cloudflare) {
	tls {
		dns cloudflare {$CLOUDFLARE_API_KEY}
	}
}
{$DOMAIN} {
	reverse_proxy localhost:8096
	import cloudflare
}
*.{$DOMAIN} {
	import cloudflare
    @test host test.{$DOMAIN}

    @jellyseerr host jellyseerr.{$DOMAIN}, jellyserr.{$DOMAIN}, jellyseer.{$DOMAIN}, jellyser.{$DOMAIN}, request.{$DOMAIN} 
    handle @jellyseerr {
        reverse_proxy localhost:5055
    }
}